<%- include("partials/header"); -%>

<div id=""class="row">
  <div class="col-md-5" id="patientcol">
     Patient's name:<span id="patient_details" ><%= patient[0].name %></span><br>
     Patient's number:<span id="patient_details"> <%= patient[0].number %></span><br>
     Patient's Email:<span id="patient_details"> <%= patient[0].email %></span>

  </div>
  <div class="col-md-7">

    <h3><%= patient.name %></h3>
    <% for( var i=0; i<(patient.length); i++) { %>
      <h5>Visit <%= i+1 %>: </h5>
    <p id="searchval">
      <% let date=patient[i].Date.toLocaleString(); %>
    <u> Appointment Date: </u><%= date %><br>
    <u>Reason for Appointment: </u><%= patient[i].reason %><br>
    <u>prescription Given:</u> <%= patient[i].prescription %>
      </p>
      <%  } %>
  <%  console.log(patient.length) %>

  </div>

</div>

<%- include("partials/footer"); -%>
